global:
  scrape_interval:     15s
  evaluation_interval: 15s
  external_labels:
    cluster: {{ item.value.prom_cluster }}
    environment: {{ item.value.prom_environment }}

remote_write:
  - url: {{ prom_url }}
    headers:
      "CF-Access-Client-Id": "{{ prom_cf_id }}"
      "CF-Access-Client-Secret": "{{ prom_cf_secret }}"
      "X-Scope-OrgID": "primary"
